<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/newsLetter" method="post">
        Email Address: <input type="email" name="email"><br />
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
