<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete Location</title>
</head>

<body>
    <form action="/insertLocation/delete" method="post">
        Location to Delete:
        <input type="text" name="deleteLocation">
        <br>
        <input type="submit" value="Delete">
    </form>

</body>

</html>