<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Location</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/updateLocation.css">
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4"></div>
                <div class="col-xs-4 col-sm-4 col-md-4" id="infoHolder">
                    <form action="/insertLocation" method="post" class="form-group">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <label>Name:</label>
                                    </td>
                                    <td>
                                        <input type="text" name="name" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Category:</label>
                                    </td>
                                    <td>
                                        <input type="text" name="category" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Latitude:</label>
                                    </td>
                                    <td>
                                        <input type="text" name="latitude" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Longitude:</label>
                                    </td>
                                    <td>
                                        <input type="text" name="longitude" class="form-control">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="myBtn">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4"></div>
            </div>
        </div>
    </div>

</body>

</html>